# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: 21betmaster
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: betmaster21
service: blackjack-trainer-backend

provider:
  name: aws
  runtime: python3.9
  region: us-east-1 # You can change this to your preferred region
  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - "dynamodb:Query"
            - "dynamodb:Scan"
            - "dynamodb:GetItem"
            - "dynamodb:PutItem"
            - "dynamodb:UpdateItem"
            - "dynamodb:DeleteItem"
          Resource:
            - "arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/UsersTable"
            - "arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/StatsTable"

functions:
  signup:
    handler: handlers/auth.signup
    events:
      - httpApi:
          path: /signup
          method: post
  login:
    handler: handlers/auth.login
    events:
      - httpApi:
          path: /login
          method: post
  googleAuth:
    handler: handlers/auth.google_auth
    events:
      - httpApi:
          path: /google-auth
          method: post
  saveStats:
    handler: handlers/stats.save
    events:
      - httpApi:
          path: /stats
          method: post
          # authorizer:
          #   name: jwtAuthorizer
          #   type: jwt
          #   identitySource: "$request.header.Authorization"
          #   issuerUrl: "https://your-issuer-url/.well-known/jwks.json" # This needs to be configured properly
          #   audience:
          #     - "your-audience"

resources:
  Resources:
    UsersTable:
      Type: "AWS::DynamoDB::Table"
      Properties:
        TableName: "UsersTable"
        AttributeDefinitions:
          - AttributeName: "email"
            AttributeType: "S"
        KeySchema:
          - AttributeName: "email"
            KeyType: "HASH"
        BillingMode: "PAY_PER_REQUEST"
    StatsTable:
      Type: "AWS::DynamoDB::Table"
      Properties:
        TableName: "StatsTable"
        AttributeDefinitions:
          - AttributeName: "userId"
            AttributeType: "S"
          - AttributeName: "timestamp"
            AttributeType: "S"
        KeySchema:
          - AttributeName: "userId"
            KeyType: "HASH"
          - AttributeName: "timestamp"
            KeyType: "RANGE"
        BillingMode: "PAY_PER_REQUEST"

custom:
  pythonRequirements:
    dockerizePip: false
    pythonBin: python3
